@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout style="height: 100%;">
    <MudDrawer @bind-Open="@_open" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true">
        <MudNavMenu>
            @if (!_open)
            {
                <MudIconButton Icon="@Icons.Material.Filled.KeyboardDoubleArrowRight" Color="Color.Inherit"
                    OnClick="@((e) => ToggleDrawer())" />
            }
            else
            {
                <MudText Typo="Typo.h6" Class="px-4">Romeilter</MudText>
                <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">PnP Wiki</MudText>
            }

            <MudDivider Class="my-2" />
            <MudNavLink Icon="@Icons.Material.Filled.Home" Href="">Home</MudNavLink>
            <MudNavGroup Icon="@Icons.Material.Filled.People" Title="Völker" Expanded="true">
                <MudNavLink Icon="@Icons.Material.Filled.LocalFireDepartment" Href="people/cherstan">Cherstan
                </MudNavLink>
                <MudNavLink Icon="@Icons.Material.Filled.People" Href="people/federation">Federation von Khergia
                </MudNavLink>
                <MudNavLink Icon="@Icons.Material.Filled.Nature" Href="people/iqua">Iqua</MudNavLink>
                <MudNavLink Icon="@Icons.Material.Filled.Build" Href="people/cerg">Protektorat Cerg</MudNavLink>
                <MudNavLink Icon="@Icons.Custom.Uncategorized.ChessKing" Href="people/ahian">Sultanat Ahian
                </MudNavLink>
            </MudNavGroup>
            <MudNavGroup Icon="@Icons.Material.Filled.Brightness1" Title="Welt" Expanded="true">
                <MudNavLink Icon="@Icons.Material.Filled.MenuBook" Href="world/lore">Lore</MudNavLink>
                <MudNavLink Icon="@Icons.Material.Filled.Star" Href="world/magic">Magie</MudNavLink>
                <MudNavGroup Icon="@Icons.Custom.Uncategorized.ColorPalette" Title="Rassen" Expanded="true">
                    <MudNavLink Icon="@Icons.Custom.Uncategorized.ChessKing" Href="world/races/human">Menschen
                    </MudNavLink>
                    <MudNavLink Icon="@Icons.Custom.Uncategorized.ChessQueen" Href="world/races/dwarf">Zwerge
                    </MudNavLink>
                    <MudNavLink Icon="@Icons.Custom.Uncategorized.ChessKnight" Href="world/races/elves">Elfen
                    </MudNavLink>
                    <MudNavLink Icon="@Icons.Custom.Uncategorized.ChessPawn" Href="world/races/gnomes">Gnome
                    </MudNavLink>
                    <MudNavLink Icon="@Icons.Custom.Uncategorized.ChessBishop" Href="world/races/harenae">Harenae
                    </MudNavLink>
                    <MudNavLink Icon="@Icons.Custom.Uncategorized.ChessRook" Href="world/races/giant">Riesen
                    </MudNavLink>
                </MudNavGroup>
            </MudNavGroup>
        </MudNavMenu>
    </MudDrawer>>

    @if (IsAdmin)
    {
        <div style="position: absolute; top: 30px; right: 30px;">
            <MudIconButton Variant="Variant.Outlined" Color="@(ShowAdminContent ? Color.Secondary : Color.Success)"
                Icon="@(ShowAdminContent ? Icons.Material.Filled.RemoveRedEye : @Icons.Material.Outlined.RemoveRedEye)"
                OnClick="@((e) => ToggleAdmin())" />
        </div>
    }
    <div style="position: absolute; top: 30px; right: 75px;">
        <MudIconButton Variant="Variant.Outlined" Color="Color.Secondary" Icon="@Icons.Material.Filled.Lock"
            OnClick="@((e) => ToggleLogin())" />
    </div>

    <MudPopover Open="@Login" Fixed="true" Class="px-4 pt-4" AnchorOrigin="Origin.CenterCenter">
        <div class="d-flex flex-column">
            <MudTextField @bind-Value="Password" Label="Passwort eingeben" Variant="Variant.Text"></MudTextField>
            <div class="d-flex flex-row gap-3">
                <MudButton OnClick="@EnterLogin" Class="ml-auto mr-n3 mb-1" Color="Color.Error">Einloggen</MudButton>
                <MudButton OnClick="@ToggleLogin" Class="ml-auto mr-n3 mb-1" Color="Color.Error">Schließen</MudButton>
            </div>
        </div>
    </MudPopover>

    <MudMainContent class="py-5 px-10">
        <CascadingValue Value="ShowAdminContent">
            @Body
        </CascadingValue>
    </MudMainContent>
</MudLayout>

@code {
    private bool _open = false;
    private bool ShowAdminContent = false;
    private bool IsAdmin = false;
    private bool Login = false;
    private string Password { get; set; } = "";

    private void ToggleDrawer()
    {
        _open = !_open;
    }

    private void ToggleAdmin()
    {
        ShowAdminContent = !ShowAdminContent;
    }

    private void ToggleLogin()
    {
        Login = !Login;
        Password = "";
    }

    private void EnterLogin()
    {
        if (Password == "pizza")
        {
            IsAdmin = true;
        }
        else
        {
            IsAdmin = false;
        }

        ToggleLogin();
    }
}