@using Romeilter.Models;

<MudTable T="SkillModel" Items="SkillGroup.Skills">
    <HeaderContent>
        <MudTh colspan="2">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row gap-2 fw-bold align-items-center justify-content-center">
                    @SkillGroup.GroupName : @SkillGroup.BaseBoni
                    <DiceRoller DiceType="DiceType.D100" SkillCheck="@SkillGroup.BaseBoni" />
                </div>
                <div class="d-flex flex-row gap-2 fw-bold justify-content-center">
                    Geistesblitzpunkte:
                    <div style="width: 50px;">
                        <MudNumericField T="int" Value="@SkillGroup.FlashInspiration" />
                    </div>
                </div>
            </div>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Sign">
            @context.Value + @SkillGroup.BaseBoni = @(context.Value + SkillGroup.BaseBoni)
            <DiceRoller SkillCheck="context.Value + SkillGroup.BaseBoni" DiceType="DiceType.D100" />
        </MudTd>
    </RowTemplate>
</MudTable>

@* <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 5px;">
    <div class="fw-bold d-flex flex-row gap-2 justify-content-center align-items-center"
        style="grid-row: 1; grid-column: 1 / 3;">

    </div>
    <div class="fw-bold d-flex flex-row gap-2 justify-content-center align-items-center"
        style="grid-row: 2; grid-column: 1 / 3;">

    </div>
    @foreach (var item in SkillGroup.Skills)
    {
        <div class="d-flex align-items-center">
            @item.Name
        </div>
        <div class="d-flex align-items-center">

        </div>
    }
</div> *@

@code {
    [Parameter]
    public required SkillGroupModel SkillGroup { get; set; }
}