@page "/people/cherstan"

<PageTitle>Cherstan</PageTitle>

<h6>Cherstan</h6>

<AdminShowWrapper>
    <p>
        <a href="https://www.fantasynamegenerators.com/egyptian-town-names.php">Stadtnamen</a>
    </p>
</AdminShowWrapper>

<p>
    Mit weitreichenden Savannen und langen Dürrezeiten scheint Cherstan auf den ersten Blick <br />
    mit wenigen natürlichen Ressourcen gesegnet zu sein. So war es auch historisch nur sperrlich <br />
    Besiedelt. Da das Land wenig möglichkeit für Bewirtschaftung bietet zieht es die Einwohner <br />
    traditionell aufs Meer.
</p>

<p>
    So wurden die Cherstaner begnadete Schiffsbauer und Fischer auf dem rauen Ozean. Durch den <br />
    Mangel an natürlichen Resourcen war Cherstan nie ein militärisches Ziel der 2 großen Mächte. <br />
</p>

<p>
    Durch ihren Schiffsbau und enstpannten Zollvorgaben entwickelte sich Cherstan zu einem unabhängigen <br />
    Knotenpunkt des Handels. Mit dem Wohlstand des Handels konnte sich Cherstan zu einer komplett autarken <br />
    Nation entwickeln.
</p>

<p>
    Nach dem Erscheinen der Magie wurde Cherstan zusätzlich zu der Magischen Forschungsnation, da sich <br />
    die anderen Länder erst mal Forschung und Ausübung der Magie reguliert hatten. Dies war in Cherstan <br />
    nicht so, so kann man bis heute komplett frei an allem Forschen was man möchte.
</p>

<p>
    Durch die Offenheit und wenigen Einbürgerungsvoraussetzungen sind über die Jahre Personen aus allen <br />
    Völkern in Cherstan eingewandert um sich dort ein freies und unabhängiges Leben aufzubauen.
</p>

<p>
    Die Gesellschaft unterteilt sich in Cherstan in die unterschiedlichen Gilden:
</p>
<p>
    <MudList T="string">
        <MudListItem Icon="@Icons.Material.Filled.ArrowForward">
            Die Magiergilde, die aktuell versucht alle Forschenden zu vereinen um mehr Sitze im <br />
            Senate zu erlangen.
        </MudListItem>
        <MudListItem Icon="@Icons.Material.Filled.ArrowForward">
            Die Wache, welche gleichzeitig für Recht und Ordnung sorgt und als Militär von Cherstan <br />
            fungiert. Die Wache hat immer einen festen Anteil im Senat und kümmert sich politisch <br />
            um die innere und äußere Sicherheit.
        </MudListItem>
        <MudListItem Icon="@Icons.Material.Filled.ArrowForward">
            Die Richter bilden die Rechtsprechung und alle anderen müssen sich ihren Urteilen beugen. <br />
            Jedoch können sie sich nicht in der Regierung des Landes einbringen. Die Richter werden <br />
            immer von Volk direkt gewählt.
        </MudListItem>
        <MudListItem Icon="@Icons.Material.Filled.ArrowForward">
            Die Handwerksgilde repräsentiert alle die Produkte und Dienstleistungen innerhalb von <br />
            Cherstan anbieten. Ebenso die Schiffsbauer.
        </MudListItem>
        <MudListItem Icon="@Icons.Material.Filled.ArrowForward">
            Die Handelsgilde hat seit jeher die meisten Sitze im Senat, da Cherstan schon immer sehr <br />
            Handels fokussiert war. Sie repräsentieren alle Händler aus Cherstan.
        </MudListItem>
        <MudListItem Icon="@Icons.Material.Filled.ArrowForward">
            Die Alchemiegilde ist noch sehr jung und hat noch keine Sitze im Senat erhalten.
        </MudListItem>
    </MudList>
</p>

<p>
    In Cherstan werden alle 3 Jahre gewählt, dann jeder registrierter Bürger seine Stimme an eine der <br />
    Gilden abgeben. Anhand der Stimmenverteilung werden dann die 100 Sitze im Senat verteilt. 25 zusätzliche <br />
    Sitze sind immer an die Repäsentanten der Wache gesichert.
</p>

<p>
    Die Gilden bringen dann Repäsentante hervor, die diese Sitze für 3 Jahre einnehmen und über Gesetze <br />
    und andere politische Ziele stimmen können.
</p>

<p>Aktuelle Aufstellung des Senates:</p>
<p>
    <MudList T="string">
        <MudListItem>60 Sitze Handelsgilde</MudListItem>
        <MudListItem>35 Sitze Handwerksgilde</MudListItem>
        <MudListItem>5 Sitze Magiergilde</MudListItem>
    </MudList>
</p>
